@tailwind base;
@tailwind components;
@tailwind utilities;

.progressIndicator::after {
    position: absolute;
    top: 4px;
    left: 8px;
    content: "";
    height: 5px;
    width: calc(100% - 16px);
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 8px;
}